*,
::after,
::before {
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Alfa Slab One', cursive;
}

.App > h1 {
    font-variant: small-caps;
    font-size: 80px;
    color: rgb(95, 138, 247);
    font-style: italic;
    text-shadow: 20px 20px 10px rgba(250, 181, 237, 0.954);
}

.App > button {
    font-family: inherit;
    padding: 10px 20px;
    margin-bottom: 15px;
    font-size: 20px;
    color: rgb(120, 120, 230);
    border: 2px solid rgba(250, 181, 237, 0.954);
    box-shadow: 5px 5px 5px #999;
    outline:none;
    cursor: pointer;
}

.App > button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 5px #999;
}

.App > button > i {
    color: rgb(255, 0, 238);
}

.App .you-won {
    font-family: inherit;
    font-size: 100px;
    font-style: italic;
    color:  rgba(240, 75, 210, 0.954);
    text-shadow: 25px 25px 20px rgba(95, 138, 247, 0.447);
    position: absolute;
    top: 40%;
}

.App .you-won .emojies {
    display: block;
    text-align: center;
}

body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol'; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.container {
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
